                    <div class="card h-100 " style="cursor:pointer;">
                        <div class="card-body  practica ">
                            <div class="panio mx-auto">
                                <!-- fila uno -->    
                                <div class="sector sc1 sl1"></div>
                                <div class="sector sm1 sca1"></div>
                                <div class="sector sc2 sl2"></div>
                        
                                <!-- fila dos -->
                                <div class="sector sm2"></div>
                                <div class="sector spl1"></div>
                                <div class="sector sm3"></div>
                        
                                <!-- fila tres -->
                                <div class="sector sc3"></div>
                                <div class="sector sm4"></div>
                                <div class="sector sc4"> </div>
                            </div>
                        </div>
                    </div>