<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Monoton&family=Oswald:wght@300;348;400;700&family=Paytone+One&family=Staatliches&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/panioEstilos.css">
    <link rel="stylesheet" href="/estilosGeneral.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid marcoTitulo">
            <a class="navbar-brand" href="/">
                <img src="/ruleta.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <H1>CASINO</H1>
        </div>
    </nav>
    <div class="container d-flex">
        <div class="row">
            <div class="col-12  m-3">
                <div class="card h-100"  style="cursor:pointer;">
                    <div class="card-body  practica">       
                        <form action="corte"  method="get">
                            ingrese valor de fichas
                            <div th:each="valores : ${valoresFicha}">
                                <input type="checkbox" th:value="${valores}" th:text="${valores}" name="fichas">            
                            </div>
                            <input type="submit">
                        </form>                        
                    <div th:if="${error}!=null" th:text="${error}"></div>
                </div>
            </div>
        </div>
    </div>  

    <div th:if="${error}!=null" style="color:red ; size:200px;" th:text="${error}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>