<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>C de casineta casineta casineta</div>
    <a href="/jugada/practicaPlenos">practica de plenos</a><br>
    <a href="/jugada/practicaPlenosMedios">practica de plenos medio</a><br>
    <a href="/jugada/practicaMedios">practicas medios</a><br>
    <a href="/jugada/practicaJugadaMixta"> practica mixta</a><br>
</body>
</html>