<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Monoton&family=Oswald:wght@300;348;400;700&family=Paytone+One&family=Staatliches&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino</title>
    <link rel="stylesheet" href="/estilosGeneral.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid marcoTitulo">
            <a class="navbar-brand" href="/">
                <img src="/ruleta.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <H1>CASINO</H1>
        </div>
    </nav>

    
    <form action="practicaJugada" class="container" method="get">
        <div class="row">
            <div class="col-12 col-sm-6 mt-2">
                <div class="card h-100">
                    <div class="card-body practica">
                        <h2>Seleccione Jugada</h2>
                        <div th:each="jugada : ${TiposJugadas}">
                            <input class="form-check-input" style="color: red;" type="radio" th:value="${jugada}" th:text="${jugada}" name="jugadaSelect">
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-12 col-sm-6 mt-2">
                <div class="card h-100">
                    <div class="card-body practica">
                        <h2>Opcional: valor de ficha</h2>
                        <div th:each="valores : ${valoresFicha}">
                            <input type="radio" th:value="${valores}" th:text="${valores}" name="fichas">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <center>
                    <input class="col-12 col-sm-6 boton" type="submit" value="practicar!">
                </center>
            </div>
        </div>
    </form>
    
    <div th:if="${error}!=null" th:text="${error}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    </body>

</html>